# Ignore virtual environments
.venv/
.env

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore local database file
products_service/instance/products.db
orders_service/instance/orders.db

# Ignore instance directory (optional)
products_service/instance/
orders_service/instance/

# Ignore VSCode and other IDE configurations
.vscode/
.idea/
